* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}

.orange {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}


.main-box {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  background-color: #EEEEEE;
  position: relative;
}

.box:nth-child(1),
.box:nth-child(2) {
  margin-right: 30px;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #FFF;
}

.image {
  width: 280px;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

.image1 {
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.image2 {
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.image3 {
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

h3 {
  margin: 0 10px 5px 10px;
}

p {
  margin: 0 10px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}